#if($menu)

    #macro(renderMenu $menu)
        #foreach($item in $menu)
        <li>
            <a href="$item.href">$item.label</a>
            #if($item.children)
                <ul class="child-menu">
##                    #renderMenu($item.children)
                </ul>
            #end
        </li>
        #end
    #end

    <nav class="header">
        <div class="container">
            <ul class="menu">
                #renderMenu($menu)
            </ul>
        </div>
    </nav>
    #script()
    require(['./header']);
    #end
#end