@import "function";
.header{
  background: $blue;
  overflow: hidden;
}
.header li{
  float: left;
  list-style:none;
  margin-right: 20px;
  padding: 10px 40px;
  cursor: pointer;
  &:hover{
  background: $purple;
  }
  a{
    color: $white;
  }
}