@import "base";
@import "ext/helper";

body{
font-family: $fontYaHei;
}
.container {
    width: 1000px;
    @include center-block;
}
@include clearfix();
.user-state{
    @include clearfix;
}
.user-name{
    margin-top: 10px;
    @include float(right);
}